<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>coseos Spring Boot FreeMarker Template</title>
  </head>
  <body>
    <div>
      <h1 th:text="|Hello ${name}!|"></h1>
      <p>
          This tutorial walks you through the steps of creating a Hello World web app example with Spring Boot and Thymeleaf
      </p>
    </div>
  </body>
</html>